main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh;
}

@keyframes wave {
	0% { transform: rotate(-10deg); }
	10% { transform: rotate(10deg); }
	20% { transform: rotate(-10deg); }
	30% { transform: rotate(10deg); }
	40% { transform: rotate(-10deg); }
	50% { transform: rotate(10deg); }
	60% { transform: rotate(-10deg); }
	100% { transform: rotate(10deg); }
}

span.wave {
  display: inline-block;
  animation: wave 5s infinite;
}

div.btnrow {
  text-align: center;
  padding: 0;
}

.button1 {
  width: 22.5vw;
  margin: .5vh .15vw;
  display: inline;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 10vh;
    outline: none;
  color: #fff;
  background-color: rgb(122, 122, 122);
  border: none;
  border-radius: 5px;
  height: 10vw;
}



.button2 {
  width: 45.5vw;
  margin: .4vh auto;
  display: block;
  font-size: 1.5vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(122, 122, 122);
  border: none;
  border-radius: 5px;
  height: 3vw;
}

h1 {
  margin: 5vh 0;
}


.button1:hover, .button2:hover {background-color: rgb(109, 109, 109)}

.button1:active, .button2:active {
  background-color: rgb(82, 82, 82);
}

input#nameInput {
  height: 7vw;
  width: 100%;
  padding: 0;
  font-size: 5vw;
  text-align: center;
  font-weight: 700;
  border: none;
  background-color: #b3b3b3;
  
}

.ten {
  display: inline;
  margin: 0 .15vw;
  width: 11.11vw;
  font-weight: bold;
}


div#buttonClass h1 {
  font-size: 5vw;
}

input#nameInput:focus {
  outline: none;
}

#resetbtn {
  margin-top: .8vh
}